services:
  consul-server-1:
    image: consul:1.15.4
    container_name: consul-server-1
    command: agent -server -ui -client=0.0.0.0 -bootstrap-expect=3 -node=consul-server-1
    ports:
      - "8500:8500"
      - "8600:8600/udp"
    networks:
      - flexds-compose
    environment:
      - CONSUL_BIND_INTERFACE=eth0

  consul-server-2:
    image: consul:1.15.4
    container_name: consul-server-2
    command: agent -server -ui -client=0.0.0.0 -bootstrap-expect=3 -node=consul-server-2 -retry-join=consul-server-1
    ports:
      - "8501:8500"
      - "8601:8600/udp"
    depends_on:
      - consul-server-1
    networks:
      - flexds-compose
    environment:
      - CONSUL_BIND_INTERFACE=eth0

  consul-server-3:
    image: consul:1.15.4
    container_name: consul-server-3
    command: agent -server -ui -client=0.0.0.0 -bootstrap-expect=3 -node=consul-server-3 -retry-join=consul-server-1
    ports:
      - "8502:8500"
      - "8602:8600/udp"
    depends_on:
      - consul-server-1
    networks:
      - flexds-compose
    environment:
      - CONSUL_BIND_INTERFACE=eth0

  consul-agent:
    image: consul:1.15.4
    container_name: consul-agent
    command: agent -ui -client=0.0.0.0 -node=consul-agent -retry-join=consul-server-1
    ports:
      - "18500:8500"
      - "18600:8600/udp"
    depends_on:
      - consul-server-1
    networks:
      - flexds-compose
    environment:
      - CONSUL_BIND_INTERFACE=eth0

  zookeeper:
    image: zookeeper:3.4.14
    container_name: zookeeper
    ports:
      - "2181:2181"
    networks:
      - flexds-compose
    environment:
      ZOO_MY_ID: 1
      ZOO_SERVERS: server.1=0.0.0.0:2888:3888

  mesos-master:
    image: mesosphere/mesos-master:1.7.1
    command:
      - "--ip=0.0.0.0"
      - "--work_dir=/tmp/mesos"
      - "--quorum=1"
      - "--zk=zk://zookeeper:2181/mesos"
    ports:
      - "5050:5050"
    depends_on:
      - zookeeper
    networks:
      - flexds-compose
    volumes:
      - /var/log/mesos/master

  mesos-agent:
    image: mesosphere/mesos-slave:1.7.1
    command:
      - "--master=zk://zookeeper:2181/mesos"
      - "--work_dir=/var/lib/mesos"
      - "--log_dir=/var/log/mesos"
      - "--no-systemd_enable_support"
      - "--launcher=posix"
    ports:
      - "5051:5051"
      - "2005:2005"
    depends_on:
      - mesos-master
    networks:
      - flexds-compose

  marathon:
    image: mesosphere/marathon:v1.4.5
    ports:
      - "8081:8080"
    depends_on:
      - mesos-master
    networks:
      - flexds-compose
    environment:
      MARATHON_ZK: 'zk://zookeeper:2181/marathon'
      MARATHON_MASTER: 'zk://zookeeper:2181/mesos'
      MARATHON_EVENT_SUBSCRIBER: 'http_callback'
      MARATHON_TASK_LAUNCH_TIMEOUT: '300000'
      MARATHON_HTTP_CREDENTIALS: 'marathon:secret'

  flexds:
    build:
      context: ..
      dockerfile: container/Containerfile
    container_name: flexds
    command:
      - "-consul"
      - "-consul-addr"
      - "consul-agent:8500"
      - "-yaml"
      - "-yaml-file"
      - "/etc/flexds/static-services.yaml"
      - "-marathon"
      - "-marathon-addr"
      - "http://marathon:8080"
      - "-marathon-creds-path"
      - "/etc/flexds/credentials.txt"
      - "-ads-port"
      - "18000"
      - "-admin-port"
      - "19005"
      - "-log-level"
      - "debug"
    volumes:
      - ./configs/static-services.yaml:/etc/flexds/static-services.yaml:ro
      - ./configs/marathon-creds.txt:/etc/flexds/credentials.txt:ro
    networks:
      - flexds-compose
    environment:
      - GOMAXPROCS=2
    ports:
      - "18000:18000" # ADS gRPC
      - "19005:19005" # admin HTTP
    depends_on:
      - consul-agent
      - marathon

  envoy-proxy-1:
    image: envoyproxy/envoy:v1.36.4
    container_name: envoy-proxy-1
    depends_on:
      - flexds
      - rest-service-1
      - rest-service-2
      - rest-service-tls-1
      - rest-service-tls-2
      - grpc-service-1
      - grpc-service-2
    volumes:
      - ./configs/envoy-bootstrap.yaml:/etc/envoy/bootstrap.yaml:ro
    ports:
      - "18080:18080"
      - "19000:19000"
    command:
      - "-c"
      - "/etc/envoy/bootstrap.yaml"
      - "--service-node"
      - "envoy-proxy-1"
      - "--log-level"
      - "info"
    networks:
      - flexds-compose

  envoy-proxy-2:
    image: envoyproxy/envoy:v1.36.4
    container_name: envoy-proxy-2
    depends_on:
      - flexds
      - rest-service-1
      - rest-service-2
      - rest-service-tls-1
      - rest-service-tls-2
      - grpc-service-1
      - grpc-service-2
    volumes:
      - ./configs/envoy-bootstrap.yaml:/etc/envoy/bootstrap.yaml:ro
    ports:
      - "28080:18080"
      - "29000:19000"
    command:
      - "-c"
      - "/etc/envoy/bootstrap.yaml"
      - "--service-node"
      - "envoy-proxy-2"
      - "--log-level"
      - "info"
    networks:
      - flexds-compose

  rest-service-1:
    build:
      context: ./rest-service
      dockerfile: Containerfile
    container_name: rest-service-1
    ports:
      - "38080:8080"
    networks:
      - flexds-compose
    environment:
      - FLASK_ENV=production
      - CONSUL_REGISTER=true
      - SERVICE_NAME=rest-service
      - CONTAINER_NAME=rest-service-1
    depends_on:
      - consul-agent

  rest-service-2:
    build:
      context: ./rest-service
      dockerfile: Containerfile
    container_name: rest-service-2
    ports:
      - "48080:8080"
    networks:
      - flexds-compose
    environment:
      - FLASK_ENV=production
      - CONSUL_REGISTER=true
      - SERVICE_NAME=rest-service
      - CONTAINER_NAME=rest-service-2
    depends_on:
      - consul-agent

  rest-service-tls-1:
    build:
      context: ./rest-service
      dockerfile: Containerfile
    container_name: rest-service-tls-1
    ports:
      - "38443:8443"
    networks:
      - flexds-compose
    environment:
      - FLASK_ENV=production
      - SERVICE_NAME=rest-service-tls
      - SERVICE_PORT=8443
      - USE_TLS=true
      - CONTAINER_NAME=rest-service-tls-1
    depends_on:
      - consul-agent

  rest-service-tls-2:
    build:
      context: ./rest-service
      dockerfile: Containerfile
    container_name: rest-service-tls-2
    ports:
      - "48443:8443"
    networks:
      - flexds-compose
    environment:
      - FLASK_ENV=production
      - SERVICE_NAME=rest-service-tls
      - SERVICE_PORT=8443
      - USE_TLS=true
      - CONTAINER_NAME=rest-service-tls-2
    depends_on:
      - consul-agent

  grpc-service-1:
    build:
      context: ./grpc-service
      dockerfile: Containerfile
    container_name: grpc-service-1
    ports:
      - "39090:9090"
    networks:
      - flexds-compose
    environment:
      - CONSUL_REGISTER=true
      - SERVICE_NAME=grpc-service
      - CONTAINER_NAME=grpc-service-1
    depends_on:
      - consul-agent

  grpc-service-2:
    build:
      context: ./grpc-service
      dockerfile: Containerfile
    container_name: grpc-service-2
    ports:
      - "49090:9090"
    networks:
      - flexds-compose
    environment:
      - CONSUL_REGISTER=true
      - SERVICE_NAME=grpc-service
      - CONTAINER_NAME=grpc-service-2
    depends_on:
      - consul-agent

networks:
  flexds-compose:
    driver: bridge
